<!--@{ //com essa tag voce pode especificar um layout
    //Layout = null; //tirando o layout padrao
    //Layout = "kemylly";  //carrega outra pag de layout 
}-->


<!--<h1> View do controller vizualizar @ViewData["helloWorld"] </h1>-->

<!-- <h1> View do controller vizualizar</h1>
@if((bool)ViewData["helloWorld"]){
    <h1>Oi mundo</h1>
}
else{
    <h1>tchau mundo</h1>
} -->

<h1>@ViewData["nome"]</h1>